<div class="card card-register mx-auto mt-5">
  <div class="card-header">Editing User Profile</div>

  <div class="card-body">
    <!-- form -->
    <%= form_with(model: user, url: user_path, local: true) do |f| %>
      <% if user.errors.any? %>
      <div id="error_explanation">
        <h6><%= pluralize(user.errors.count, "error") %>:</h6>
        <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
      <% end %>
      <div class="form-group">
        <%= f.label :name, 'Name' %>
        <%= f.text_field :name, aria: {describedby: 'nameHelp'},
          placeholder: "Enter name", class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :email, 'Email address' %>
        <%= f.email_field :email, aria: {describedby: 'emailHelp'},
          placeholder: "Enter email", class: 'form-control' %>
      </div>
      <%= f.submit "Update", class: 'btn btn-primary btn-block' %>
    <% end %>
    <!--/form -->

    <div class="text-center">
      <%= link_to "Cancel", root_path, class: 'd-block small mt-3' %>
    </div>
  </div>
</div>
