<section id="contact">
  <div class="container">
    <%= yield %>

    <div class="row">
      <div class="col-lg-12">
        <!-- form -->
        <%= form_with(model: radio_station, local: true, url: choose_new_or_edit) do |f| %>
          <% if radio_station.errors.any? %>
          <div id="error_explanation">
            <h6><%= pluralize(radio_station.errors.count, "error") %>:</h6>
            <ul>
            <% radio_station.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
          <% end %>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= f.text_field :callsign, readonly: true,
                  data: {validation_required_message: "Please enter callsign of station."},
                  required: 'required',
                  placeholder: "Callsign Of Station *",
                  id: 'callsign', class: 'form-control' %>
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <%= f.text_field :city, readonly: true,
                  placeholder: "City Of Station *",
                  id: 'city', class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.text_field :branding, readonly: true,
                  placeholder: "Branding Of Station *",
                  id: 'branding', class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.text_field :station_format,
                  placeholder: "Radio Format Of Station *",
                  id: 'station_format', class: 'form-control' %>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <%= f.url_field :webcast_url,
                  data: {validation_required_message: "Please enter webcast url of station."},
                  required: 'required',
                  placeholder: "Webcast URL Of Station *",
                  id: 'webcast_url', class: 'form-control' %>
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <%= f.url_field :website, readonly: true,
                  placeholder: "Website URL Of Station *",
                  id: 'website', class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.text_area :comment,
                  placeholder: "Your Comment *",
                  id: 'comment', class: 'form-control radio-station' %>
              </div>
            </div>

            <%= f.hidden_field :user_id %>
            <div class="clearfix"></div>

            <div class="col-lg-12 text-center">
              <div id="success"></div>
              <%= f.submit "Post", class: 'btn btn-primary btn-xl text-uppercase' %>
            </div>
          </div>
        <% end %>
        <!--/form -->
      </div>
    </div>

  </div>
</section>
