<div class="row">
  <div class="col-lg-12 text-center">
    <h2 class="section-heading text-uppercase">New Radio Station(USA)</h2>
    <h3 class="section-subheading text-muted">Please refer to information on the following site and input the item.</h3>

    <%= link_to 'Radio format - Wikipedia', "https://en.wikipedia.org/wiki/Radio_format",
      rel: 'noopener', target: '_blank' %>
    <br>
    <%= link_to 'Webcast - Wikipedia', "https://en.wikipedia.org/wiki/Webcast",
      rel: 'noopener', target: '_blank' %>
    <div id="station-wiki"></div>
    <div id="station-search"></div>
    <div id="ajax-msg"></div>
    <br>

<select class="parent" name="selectParent">
  <option selected="selected" value="">country</option>
<% Country.select(%(id, name)).order(:id).each do |c| %>
  <option value="<%= c.id %>"><%= c.name %></option>
<% end %>
</select>

<select class="children" name="selectChildren" disabled>
  <option selected="selected" value="">state/province</option>
<% Province.select(%(id, name, country_id)).order(:id).each do |p| %>
  <option data-val="<%= p.country_id %>" value="<%= p.id %>"><%= p.name %></option>
<% end %>
</select>

<select class="grandchilds" name="selectGrandchilds" disabled>
  <option selected="selected" value="">callsign</option>
<% Callsign.select(%(id, spelling, province_id))
  .where(isvalid: nil).order(:id).each do |s| %>
  <option data-val="<%= s.province_id %>" value="<%= s.spelling %>"><%= s.spelling %></option>
<% end %>
</select>

    <p></p>
  </div>
</div>
