<section id="contact">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Post Radio Station info ?</h2>
        <h3 class="section-subheading text-muted">Please check information of the radio station.</h3>
        <br>
        <br>
        <br>
        <p></p>
      </div><!--/col-lg-12 text-center -->
    </div>

    <div class="row">
      <div class="col-lg-12">

        <div class="row">
          <!-- form -->
          <%= form_with(model: @radio_station,
            url: radio_stations_path, class: 'disp-contents', local: true
          ) do |f| %>
            <%= f.hidden_field :callsign %>
            <%= f.hidden_field :city %>
            <%= f.hidden_field :branding %>
            <%= f.hidden_field :station_format %>

            <%= f.hidden_field :webcast_url %>
            <%= f.hidden_field :website %>
            <%= f.hidden_field :comment %>

            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :callsign, "Callsign:" %>
                <p><%= @radio_station.callsign %></p>
              </div>
              <div class="form-group">
                <%= f.label :city, "City:" %>
                <p><%= @radio_station.city %></p>
              </div>
              <div class="form-group">
                <%= f.label :branding, "Branding:" %>
                <p><%= @radio_station.branding %></p>
              </div>
              <div class="form-group">
                <%= f.label :station_format, "Radio Format:" %>
                <p><%= @radio_station.station_format %></p>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :webcast_url, "Webcast URL:" %>
                <p><%= @radio_station.webcast_url %></p>
              </div>
              <div class="form-group">
                <%= f.label :website, "Website:" %>
                <p><%= @radio_station.website %></p>
              </div>
              <div class="form-group">
                <%= f.label :comment, "Comment:" %>
                <p class="radio-station"><%= @radio_station.comment %></p>
              </div>
            </div>

            <%= f.hidden_field :user_id %>
            <div class="clearfix"></div>

            <div class="col-md-2"></div>
            <div class="col-md-2 text-center">
              <%= f.submit 'Submit',
                class: 'btn btn-primary btn-xl text-uppercase' %>
            </div>
            <div class="col-md-2"></div>
          <% end %>
          <!--/form Submit -->

          <!-- form -->
          <%= form_with(model: @radio_station, url: new_radio_station_path,
            class: 'disp-contents', local: true, method: 'get'
          ) do |f| %>
            <%= f.hidden_field :callsign %>
            <%= f.hidden_field :city %>
            <%= f.hidden_field :branding %>
            <%= f.hidden_field :station_format %>

            <%= f.hidden_field :webcast_url %>
            <%= f.hidden_field :website %>
            <%= f.hidden_field :comment %>

            <%= f.hidden_field :user_id %>

            <div class="col-md-2"></div>
            <div class="col-md-2 text-center">
              <%= f.submit "Back", name: 'back',
                class: 'btn btn-primary btn-xl text-uppercase' %>
            </div>
            <div class="col-md-2"></div>
          <% end %>
          <!--/form Back -->
        </div>

      </div><!--/col-lg-12 -->
    </div><!--/row -->

  </div>
</section>
